---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

img {
	margin: 2%;
}

h1 {
	font-family: 'Dancing Script', cursive;
	color: #864FFF !important;
	font-size: 300% !important;
}


.site-title, .emphasis {
	font-family: 'Dancing Script', cursive;
	color: #864FFF !important;
	font-size: xx-large;
}

.is-centered {
	display: block;
	margin: auto;
	width: 50%;
}

.input, .textarea {
  box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
  max-width: 100%;
  width: 100%;
  color: #363636;
}
.button, .input, .textarea {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 1em;
}

.notification.is-success {
  background-color: #23d160;
  color: #fff;
  padding: 1%;
  border-radius: 4px;
}

.hidden {
  visibility: hidden;
}
